html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      font-family: sans-serif;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  p {
    font-weight: 600;
  }

  .container {
    margin: auto;
    text-align: center;
  }

  .rounds{
    font-size: larger;
  }

  button{
    position: relative;
    background-color: #000;
    border: none;
    border-radius: 100px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 1px;
    padding: 10px;
    width: 85px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  button:hover{
    color: #fa76a9;
  }
  
  button:after{
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  button:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .box {
    display: flex;
    justify-content: center;
  }

  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    position: inherit;
    width: 360px;
    height: 30px;
    margin: 5px 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fa76a9;
    border-radius: 10px;
  }

  .gameResult {
    width: 180px;
    height: 150px;
    margin: 5px 15px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #000;
  }

  img {
    height: 48px;
    width: 48px;
  }

  .choices img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
